@import url('https://fonts.googleapis.com/css2?family=Alexandria&display=swap');

body{
    font-size: 0.9rem;
    background-color: rgb(244, 248, 248);
    /* flex manipulation */
}

main{ /*Quando não há nada no main, ele dá esse espaço que empurra o footer para o final*/
    min-height: 120px;
    margin: 30px 0;
}

h1{
    font-size: 1.3rem;
}

h2{
    font-size: 0.9rem;
}

p{
    font-size: 0.8rem;
}

figure {
    margin: 0;
}

/* ----------HEADER---------- */
header.main,header.page{
    font-family: 'Alexandria', sans-serif;
}
header.main{
    display: flex;
    background-image: url("../assets/banner.png");
    background-color: #cccccc;
    min-height: 250px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 0.83rem;
}
header.page{
    display: flex;
    background-image: url("../assets/banner.png");
    background-color: #cccccc;
    min-height: 150px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 0.83rem;
}

@media (min-width: 1200px) {
    .container-fluid{
        max-width: 1200px;
        margin: 0 auto;
    }
    .nav-logo.page{
        width: 1200px;
        margin: 0 auto;
    }
}
@media (max-width:1200px) and ( min-width: 800px) {
    .container-fluid{
        margin-left: 3%;
    }
    .nav-logo.page{
        width: auto;
        margin: 3%;
    }
}

.navbar{
    padding: 0;
}

nav{
    width: 100%;
    position: sticky;
    background-color: transparent; /*rgba(0,136,169,0.8);/*rgba(15,143,179,0.8);rgba(79,33,13,0.8); */
}

.nav-logo.main{
    text-align: center;
    color: white;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 0.8rem;
    text-shadow: 2px 2px 3px black;
    margin-bottom: 3rem;
}
.nav-logo.page{
    align-self: flex-start;
    text-align: left;
    color: white;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 0.8rem;
    text-shadow: 2px 2px 3px black;
    padding-left: 13px;
    margin-top: 0;
    margin-bottom: 1rem;
}

#logo{
    width: auto;
    height: 55px;
}

.nav-link{
    /* text-shadow: 2px 2px 3px black; */
    padding: 10px 0;
    color: white;
    background-color: transparent;
    border: none;
    transition: background-color 0.3s linear;
    user-select: none; /*DISABLE TEXT SELECTION ON MENU*/
}

.nav-link:hover{
    background-color: rgba(0, 93, 169, 0.6);
    color: white;
    /* border-radius: 10px; */
}
@media (max-width: 768px) {
    button.nav-link{
        width: 100%;
        text-align: left;
    }
}

.form-control{
    font-size: 0.8rem;
    border-radius: 1.3rem;
    margin: 4px 0;
}

.d-flex .btn{
    border-radius: 1.2rem;
    margin: 4px 0;
}

.options{
    width: 90%;
    text-align: right;
    margin-top: 0.3rem;
    user-select: none;
}
.options ul{
    list-style: none;
    padding-left:0;
}
.options ul li{
    display: inline-block;
    margin: 0 1rem 0 0;
}
.options ul li img{
    border: 1px solid white;
}
.options a{
    color: white;
    text-decoration:none;
    margin-left: 5px;
}
@media (min-width: 1200px) {
    .options{
        width: 1200px;
        margin: 0 auto;
    }
}
/* ------DROPDOWN MENU------- */
@media (min-width: 800px){
    .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown .dropdown-content {
        /* display: none; */
        position: absolute;
        border-top: 0px solid #e9fcfc;
        /* border-bottom: 0px solid #e9fcfc; */
        /* border-radius: 3px; */
        /* background-color: #ffffff; */
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        overflow: hidden;
        transition: all 0.3s ease-out;/*height 0.3s linear, visibility 0.3s linear, opacity 0.3s linear, border-width 0.3s linear;*/
      }
      /* .dropdown:hover .dropdown-content {
        display: block;
        border-width: 4px;
        visibility:visible;
        opacity: 1;
      } */
      .dropdown i { /*ISTO É PARA A SETA NO MENU GIRAR PARA CIMA*/
        transition: transform 0.3s ease-out;
      }
      /* .dropdown:hover i {
        transform: rotate(-180deg);
      } */
      .dropdown-content a {
        color: white;
        background-color: rgba(0, 93, 169,0.9);/*rgba(0, 81, 99, 0.9);*/
        padding: 7px 16px;
        text-decoration: none;
        text-shadow: none;
        border-bottom: 1px solid #acbdbd;
        /* border-radius: 5px; */
        display: block;
        transition: background-color 0.5s linear, color 0.3s linear;
      }
      .dropdown-content a:hover {
        background-color: #e9fcfc;
        color:rgb(1, 76, 138);
      }    
}
@media (max-width: 800px) {
    .dropdown {
        position:static;
        display: block;
    }
    .dropdown .dropdown-content {
        position: static;
        width: 100%;
        box-shadow: none;
        z-index: 0;
        visibility: hidden;
        height: 0;
        overflow: hidden;
        transition: all 0.3s ease-out;/*height 0.3s linear, visibility 0.3s linear, opacity 0.3s linear, border-width 0.3s linear;*/
      }
      /* .dropdown:hover .dropdown-content {
        display: block;
        border-width: 4px;
        visibility:visible;
        height:145px;
      } */
      .dropdown i { /*ISTO É PARA A SETA NO MENU GIRAR PARA CIMA*/
        transition: transform 0.3s ease-out;
      }
      /* .dropdown:hover i {
        transform: rotate(-180deg);
      } */

      .dropdown-content a {
        color: white;
        background-color: rgba(0, 93, 169,0.9);/*rgba(0, 81, 99, 0.9);*/
        padding: 7px 16px;
        text-decoration: none;
        text-shadow: none;
        border-bottom: 1px solid #acbdbd;
        /* border-radius: 5px; */
        display: block;
        transition: background-color 0.5s linear, color 0.3s linear;
      }
      .dropdown-content a:hover {
        background-color: #e9fcfc;
        color:rgb(1, 76, 138);
      }    
}


/* ----------FOOTER---------- */

footer{
    background-color: rgb(79,33,13);
    color: white;
    font-size: 0.8em;
}


footer p{
    margin-bottom: 7px;
}

.rodape{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 3% 3%;
}

.contatos{
    margin-right: 3rem;
}
.contatos p a{
    color: white;
    text-decoration:none;
}
.contatos p a:hover{
    text-decoration:underline;
}

.direitos{
    text-align: right;
    /* margin-left: 3rem; */
}
.direitos h1{
    font-size: 1rem;
}
.social{
    text-align: center;
    padding: 3rem 2rem;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: none;
    border-bottom: none;
}
.social h1{
    font-size: 1rem;
}
@media (max-width: 850px){
    .rodape{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
        padding: 3% 3%;
        gap:10px;
    }
    .social{
        border-left: none;
        border-right: none;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        padding: 2rem 0;
    }

}
@media (min-width: 1200px) {
    .rodape{
        max-width: 1200px;
        margin: 0 auto;
    }
}