body{
    font-size: 0.9rem;
}

h1{
    font-size: 1.5rem;
}

/* ----------HEADER---------- */
header{
    display: flex;
    background-image: url("Assets/banner3.png");
    background-color: #cccccc;
    min-height: 250px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav{
    width: 100%;
    position: sticky;
    background-color: rgba(79,33,13,0.8);/*rgba(107,87,55,0.8);*/
}

#nav-logo{
    width: auto;
    height: 70px;
    margin-bottom: 3rem;
}

.col a {
    color: black;
    text-decoration:none;
    text-align: center;
}


.nav-item:hover{
    background-color: rgba(107,87,55,0.5);
    border-radius: 10px;
}

.form-control{
    font-size: 0.8rem;
    border-radius: 1.3rem;
}

.d-flex .btn{
    border-radius: 1.2rem;
}

.options{
    width: 90%;
    text-align: right;
    margin-top: 0.3rem;
}
.options ul{
    list-style: none;
}
.options ul li{
    display: inline-block;
    margin: 0 1rem 0 0;
}
.options ul li img{
    border: 1px solid white;
}
.options a{
    color: white;
    text-decoration:none;
}


/* ----------FOOTER---------- */

footer{
    background-color: rgb(79,33,13);
    color: white;
    font-size: 0.8em;
}


footer p{
    margin-bottom: 7px;
}

.rodape{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3% 3%;
}

.contatos{
    margin-right: 3rem;
}
.contatos p a{
    color: white;
    text-decoration:none;
}
.contatos p a:hover{
    text-decoration:underline;
}

.direitos{
    text-align: right;
    margin-left: 3rem;
}
.direitos h1{
    font-size: 1rem;
}