.title-emphasis{
    text-align: center;
    width: 100%;
    background-color: rgb(220, 219, 248);
    border: 3px solid rgb(220, 219, 248);
    padding: 0.3rem;
    margin: 1rem 0;
    box-sizing: border-box;
}
.title-emphasis h1{
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2rem;
}
.title-emphasis p{
    text-align: left;
    margin-top: 2rem;
}
.title-emphasis.side{
    text-align: center;
}
.title-emphasis.side h1{
    font-size: 0.9rem;
}
.title-emphasis.subtitle{
    background-color: white;
    border: 3px solid rgb(220, 219, 248);
    font-weight: bold;
}
.line-emphasis{
    width: 100%;
    background-color: rgb(0, 136, 169);
    height: 10px;
    margin: 2rem 0 1rem 0;
}
.title-info{
    display: flex; /*new*/
    flex-direction: column; /*new*/
    text-align: center;
    width: 100%;
    background-color: rgb(241, 240, 252);
    padding: 1rem 1rem 0.5rem 1rem;
    margin: 1rem 0 0 0;
}
.title-info h1{
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2rem;
}
.title-info > p{
    text-align: left;
    margin: 2rem 0 0 0;
}
.title-info .cronograma{
    align-self: flex-start;
    text-align: left;
    border: 1px solid rgb(39, 68, 94);
    color: rgb(39, 68, 94);
    padding: 0.5rem;
    min-width: 50%;
    margin: 2rem 0 0 0;
}
.title-info .cronograma p{
    padding: 0;
    margin: 0;
}
@media (max-width: 900px) {
    .title-info .cronograma{
        width: 100%;
        margin: 2rem 0 0 0;
    }
}

.info-page-img{
    width: 100%;
    /* height: 300px; */
    background-color: rgb(244, 248, 248);
    margin-bottom: 1rem;   
}
.info-page-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-page-other-img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;

    width: 100%;
    /* height: 300px; */
    background-color: rgb(244, 248, 248);
    padding: 2%;
    margin-bottom: 2rem;
    margin: 2rem auto 0;
}
.info-page-other-img img{
    min-width: 330px;
    max-height: 500px;
    /* object-fit: cover; */
}
@media (max-width: 400px){
    .info-page-img{
        height: 200px;
    }
}
section{
    /* max-width: 1200px; */
    width: 100%;
    margin: 0 auto;
    /* padding: 0 1rem; */
}
article{
    max-width: 800px;
    /* margin: 0 auto; */
    padding: 2rem 3rem;
    text-align: justify;
    line-height: 1.5rem;
}

.info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap:10px;
    width: 100%;
    margin: 1rem 0;
}
.info-col1{
    position: relative;
    padding: 1rem 2rem 4rem 2rem;
    width: 800px;
    background-color: white;
    border-radius: 10px;
}
.info-col2{
    position: relative;
    width: 380px;
    padding: 1rem 1rem 4rem 1rem;
    background-color: white;
    border-radius: 10px;
}
.info-create{
    position: relative;
    min-width: 405px;
    padding: 0rem 1rem 1rem 1rem;
    background-color: transparent;
}
.ver-mais{
    position: absolute;
    right:1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.info-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 0.6rem;
    text-decoration: none;
    color: black;
}

.info-item figure img{
    border-radius: 5px;
}

.info-item:hover{
    color: black;
    background-color: rgb(228, 236, 240);
}

.info-item:hover figure img{
    opacity: 0.2;
}
.info-title p{
    margin-bottom: 0;
}
.docconteiner{
    display:flex;
    flex-wrap:nowrap;
}
.newitem{
    color:gray;
    font-size: 1.5rem;
    font-weight:bold;
    justify-content:center;
    align-items:center;
    height:50px;
    border:2px solid #ccc;
    border-radius:10px;
}
.fill400w768{
    width: 400px;
}
.fillautow768{
    width:auto;
}
@media (max-width: 768px){
    .info {
        justify-content: space-around;;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap:0;
        margin: 1rem 0;
    }
    .info-col1{
        position: relative;
        padding: 1rem 1rem 4rem 1rem;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }
    .info-col2{
        position: relative;
        width: 100%;
        padding: 1rem 1rem 4rem 1rem;
        background-color: white;
        border-radius: 10px;
    }
    .info-create{
        position: relative;
        min-width: 380px;
        padding: 1rem 1rem 1rem 1rem;
        background-color: transparent;
    }
    .docconteiner{
        flex-wrap:wrap;
    }
    .newitem{
        font-size: 0.7rem;
    }
    .fill400w768{
        width: 100%;
    }
    .fillautow768{
        width: 100%;
    }
}

.texto-corpo p{
    margin: 0;
}
.texto-corpo a{
    text-decoration: none;
}

.nothing-here{
    width: 100%;
    margin: 1rem auto;
    text-align: center;
}
.end-note{
    margin: 2rem 0;
    font-style: italic;
}

.doc-list{
    list-style: none;
}
.doc-list li a{
    text-decoration: none;
    color: black;
}

form.creation{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

form.creation .fields{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0.3rem 0;
}

.line{
    min-width: 373px;
}

form.creation .form-buttons{
    margin: 1rem auto 0.5rem auto;
}

.form-buttons input,.form-buttons button{
    width:100px;
    height: 50px;
}

input[type="radio"]{
    /* display: none; */
    /* visibility: hidden; */
    width: 0;
}
input[type="radio"]:checked + img{
    /* box-shadow: 0 0 0 3px orange; */
    outline: 2px dashed rgb(47, 14, 194);
}


/* img-right{
    width: 100%!important;
    float: none !important;
}
img-center{
    
}
img-left{

}
img-full{

}

@media (max-width: 768px){
    img-right{
        width: 100%!important;
        float: none!important;
    }
    img-center{
        width: 100%!important;
        float: none!important;
    }
    img-left{
        width: 100%!important;
        float: none !important;
    }
    img-full{
        width: 100%!important;
        float: none!important;
    }
} */